@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #caeb66;
  --color-secondary: #606060;
}

.active {
  color: #49a760;
  border: 1px solid #49a760;
  padding: 3px 20px;
  border-radius: 25px;
  font-weight: bold;
}

body {
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  background-color: rgba(234, 236, 237, 1);
}
